In [1]:
import pandas as pd

data = {
    'Name':['Latki','A.b','Irfan','Hasni','Ather'],
    'Age':['25', None,'44','23',None],
    'Salary': ['5000','6000','7000',None,None]
}


df = pd.DataFrame(data)
print("Original DataFrame")
print(df)



#how much % of that is missing
print(df.isnull().mean()*100)


# Print the number of missing (NaN) values in each column
print(df.isnull().sum())

# Drop all rows that contain at least one missing value
df_drop = df.dropna()

# Print the DataFrame after dropping missing values
print(df_drop)


# Convert columns to numeric (force errors to NaN)
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

# Fill missing values safely by reassigning (no inplace warning)
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

print("age mean ",df['Age'].mean())
print("salary mena",df['Salary'].mean())
print(df)

Original DataFrame
    Name   Age Salary
0  Latki    25   5000
1    A.b  None   6000
2  Irfan    44   7000
3  Hasni    23   None
4  Ather  None   None
Name       0.0
Age       40.0
Salary    40.0
dtype: float64
Name      0
Age       2
Salary    2
dtype: int64
    Name Age Salary
0  Latki  25   5000
2  Irfan  44   7000
age mean  30.666666666666668
salary mena 6000.0
    Name        Age  Salary
0  Latki  25.000000  5000.0
1    A.b  30.666667  6000.0
2  Irfan  44.000000  7000.0
3  Hasni  23.000000  6000.0
4  Ather  30.666667  6000.0

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load dataset
df_label = pd.read_csv("students.csv")

# Initialize LabelEncoder
le = LabelEncoder()

# Label Encoding for binary/categorical columns
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded'] = le.fit_transform(df_label['Result'])

# One-Hot Encoding for 'City' column (prefix added for clarity)
df_encoded = pd.get_dummies(df_label, columns=['City'], prefix='City_Encoded')

# Extract only city encoded columns
city_encoded = df_encoded.filter(like='City_Encoded')

# Print results
print("\n--- Label Encoded Data ---")
print(df_label[['Name', 'Gender', 'Gender_Encoded', 'Result', 'Passed_Encoded']])

print("\n--- One-Hot Encoded City Data ---")
print(city_encoded)

print("\n--- Final Encoded DataFrame ---")
print(df_encoded.to_string())

--- Label Encoded Data ---
      Name  Gender  Gender_Encoded  Result  Passed_Encoded
0      Ali    Male               1  Passed               1
1     Sara  Female               0  Failed               0
2     John    Male               1  Passed               1
3   Ayesha  Female               0  Passed               1
4    David    Male               1  Failed               0
5     Hina  Female               0  Passed               1
6    Bilal    Male               1  Failed               0
7     Nida  Female               0  Passed               1
8    Ahmed    Male               1  Passed               1
9    Kiran  Female               0  Failed               0
10    Omar    Male               1  Passed               1
11  Fatima  Female               0  Passed               1
12   Usman    Male               1  Failed               0
13    Sana  Female               0  Failed               0
14    Zain    Male               1  Passed               1
15    Maha  Female               0  Passed               1
16    Arif    Male               1  Failed               0
17    Zoya  Female               0  Passed               1
18  Hassan    Male               1  Passed               1
19    Iqra  Female               0  Failed               0

--- One-Hot Encoded City Data ---
    City_Encoded_ABT  City_Encoded_BWP  City_Encoded_FSB  City_Encoded_GJW  \
0              False             False             False             False
1              False             False             False             False
2              False             False             False             False
3              False             False             False             False
4              False             False             False             False
5              False             False             False             False
6              False             False              True             False
7              False             False             False             False
8              False             False             False             False
9              False             False             False             False
10             False             False             False              True
11             False             False             False             False
12             False             False             False             False
13              True             False             False             False
14             False              True             False             False
15             False             False             False             False
16             False             False             False             False
17             False             False             False             False
18             False             False             False             False
19             False             False             False             False

    City_Encoded_HDD  City_Encoded_ISB  City_Encoded_JLM  City_Encoded_KHI  \
0              False             False             False              True
1              False             False             False             False
2              False              True             False             False
3              False             False             False             False
4              False             False             False             False
5              False             False             False             False
6              False             False             False             False
7               True             False             False             False
8              False             False             False             False
9              False             False             False             False
10             False             False             False             False
11             False             False             False             False
12             False             False             False             False
13             False             False             False             False
14             False             False             False             False
15             False             False             False             False
16             False             False             False             False
17             False             False             False             False
18             False             False             False             False
19             False             False              True             False

    City_Encoded_KSR  City_Encoded_LHR  City_Encoded_LRK  City_Encoded_MRD  \
0              False             False             False             False
1              False              True             False             False
2              False             False             False             False
3              False             False             False             False
4              False             False             False             False
5              False             False             False             False
6              False             False             False             False
7              False             False             False             False
8              False             False             False             False
9              False             False             False             False
10             False             False             False             False
11             False             False             False             False
12             False             False             False              True
13             False             False             False             False
14             False             False             False             False
15             False             False             False             False
16             False             False              True             False
17              True             False             False             False
18             False             False             False             False
19             False             False             False             False

    City_Encoded_MUX  City_Encoded_OKR  City_Encoded_PEW  City_Encoded_RWP  \
0              False             False             False             False
1              False             False             False             False
2              False             False             False             False
3              False             False             False             False
4              False             False              True             False
5               True             False             False             False
6              False             False             False             False
7              False             False             False             False
8              False             False             False              True
9              False             False             False             False
10             False             False             False             False
11             False             False             False             False
12             False             False             False             False
13             False             False             False             False
14             False             False             False             False
15             False              True             False             False
16             False             False             False             False
17             False             False             False             False
18             False             False             False             False
19             False             False             False             False

    City_Encoded_SKP  City_Encoded_SKR  City_Encoded_SKT  City_Encoded_UET
0              False             False             False              False
1              False             False             False              False
2              False             False             False              False
3              False             False             False               True
4              False             False             False              False
5              False             False             False              False
6              False             False             False              False
7              False             False             False              False
8              False             False             False              False
9              False             False              True              False
10             False             False             False              False
11             False              True             False              False
12             False             False             False              False
13             False             False             False              False
14             False             False             False              False
15             False             False             False              False
16             False             False             False              False
17             False             False             False              False
18              True             False             False              False
19             False             False             False              False

--- Final Encoded DataFrame ---
      Name  Gender  Result  Gender_Encoded  Passed_Encoded  City_Encoded_ABT  City_Encoded_BWP  City_Encoded_FSB  City_Encoded_GJW  City_Encoded_HDD  City_Encoded_ISB  City_Encoded_JLM  City_Encoded_KHI  City_Encoded_KSR  City_Encoded_LHR  City_Encoded_LRK  City_Encoded_MRD  City_Encoded_MUX  City_Encoded_OKR  City_Encoded_PEW  City_Encoded_RWP  City_Encoded_SKP  City_Encoded_SKR  City_Encoded_SKT  City_Encoded_UET
0      Ali    Male  Passed               1               1             False             False             False             False             False             False             False              True             False             False             False             False             False             False             False             False             False             False             False              False
1     Sara  Female  Failed               0               0             False             False             False             False             False             False             False             False             False              True             False             False             False             False             False             False             False             False             False              False
2     John    Male  Passed               1               1             False             False             False             False             False              True             False             False             False             False             False             False             False             False             False             False             False             False             False              False
3   Ayesha  Female  Passed               0               1             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False               True
4    David    Male  Failed               1               0             False             False             False             False             False             False             False             False             False             False             False             False             False             False              True             False             False             False             False              False
5     Hina  Female  Passed               0               1             False             False             False             False             False             False             False             False             False             False             False             False              True             False             False             False             False             False             False              False
6    Bilal    Male  Failed               1               0             False             False              True             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False              False
7     Nida  Female  Passed               0               1             False             False             False             False              True             False             False             False             False             False             False             False             False             False             False             False             False             False             False              False
8    Ahmed    Male  Passed               1               1             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False              True             False             False             False              False
9    Kiran  Female  Failed               0               0             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False              True              False
10    Omar    Male  Passed               1               1             False             False             False              True             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False              False
11  Fatima  Female  Passed               0               1             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False              True             False              False
12   Usman    Male  Failed               1               0             False             False             False             False             False             False             False             False             False             False             False              True             False             False             False             False             False             False             False              False
13    Sana  Female  Failed               0               0              True             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False              False
14    Zain    Male  Passed               1               1             False              True             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False              False
15    Maha  Female  Passed               0               1             False             False             False             False             False             False             False             False             False             False             False             False             False              True             False             False             False             False             False              False
16    Arif    Male  Failed               1               0             False             False             False             False             False             False             False             False             False             False              True             False             False             False             False             False             False             False             False              False
17    Zoya  Female  Passed               0               1             False             False             False             False             False             False             False             False              True             False             False             False             False             False             False             False             False             False             False              False
18  Hassan    Male  Passed               1               1             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False             False              True             False             False              False
19    Iqra  Female  Failed               0               0             False             False             False             False             False             False              True             False             False             False             False             False             False             False             False             False             False             False             False              False

In [4]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split

data2 = {
    'StudyHours': [1,2,3,4,5],
    'TestScore': [40,50,60,70,80]
}

df = pd.DataFrame(data2)

#StandardScalar


standard_scalar     = StandardScaler()
standard_scalared   = standard_scalar.fit_transform(df)

print("Standard OutPut")
print(pd.DataFrame(standard_scalared, columns=['StudyHours', 'TestScore']))



#MinMax
minmax_scalar  =   MinMaxScaler()
minmax_scaled  =   minmax_scalar.fit_transform(df)

print("\nMinMax SCales Output")
print(pd.DataFrame(minmax_scaled, columns=['StudyHours', 'TestScore']))


X = df[['StudyHours']]    # features
y = df['TestScore']       # target

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)


print('X Training Data',X_train)
print('Test Data', X_test)




print('\nY Training Data',y_train)
print('Test Data', y_test)

Standard OutPut
   StudyHours  TestScore
0   -1.414214  -1.414214
1   -0.707107  -0.707107
2    0.000000   0.000000
3    0.707107   0.707107
4    1.414214   1.414214

MinMax SCales Output
   StudyHours  TestScore
0        0.00       0.00
1        0.25       0.25
2        0.50       0.50
3        0.75       0.75
4        1.00       1.00
X Training Data    StudyHours
4           5
2           3
0           1
3           4
Test Data    StudyHours
1           2

Y Training Data 4    80
2    60
0    40
3    70
Name: TestScore, dtype: int64
Test Data 1    50
Name: TestScore, dtype: int64