In [1]:
import pandas as pd

data = {
    'Name':['Latki','A.b','Irfan','Hasni','Ather'],
    'Age':['25', None,'44','23',None],
    'Salary': ['5000','6000','7000',None,None]
}


df = pd.DataFrame(data)
print("Original DataFrame")
print(df)



#how much % of that is missing
print(df.isnull().mean()*100)


# Print the number of missing (NaN) values in each column
print(df.isnull().sum())

# Drop all rows that contain at least one missing value
df_drop = df.dropna()

# Print the DataFrame after dropping missing values
print(df_drop)


# Convert columns to numeric (force errors to NaN)
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

# Fill missing values safely by reassigning (no inplace warning)
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

print("age mean ",df['Age'].mean())
print("salary mena",df['Salary'].mean())
print(df)

Original DataFrame
    Name   Age Salary
0  Latki    25   5000
1    A.b  None   6000
2  Irfan    44   7000
3  Hasni    23   None
4  Ather  None   None
Name       0.0
Age       40.0
Salary    40.0
dtype: float64
Name      0
Age       2
Salary    2
dtype: int64
    Name Age Salary
0  Latki  25   5000
2  Irfan  44   7000
age mean  30.666666666666668
salary mena 6000.0
    Name        Age  Salary
0  Latki  25.000000  5000.0
1    A.b  30.666667  6000.0
2  Irfan  44.000000  7000.0
3  Hasni  23.000000  6000.0
4  Ather  30.666667  6000.0